<div>
  <div id="pageFooter" data-referrer="page_footer">
    <ul class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i" data-nocookies="1">
      <li>中文(简体)</li>
      <li>
        <a class="_sv4" dir="ltr" href="https://ja-jp.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ja_JP&quot;, &quot;zh_CN&quot;, &quot;https:\/\/ja-jp.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 0); return false;"
          title="Japanese">日本語</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://www.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;en_US&quot;, &quot;zh_CN&quot;, &quot;https:\/\/www.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 1); return false;"
          title="English (US)">English (US)</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://pt-br.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;pt_BR&quot;, &quot;zh_CN&quot;, &quot;https:\/\/pt-br.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 2); return false;"
          title="Portuguese (Brazil)">Português (Brasil)</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://vi-vn.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;vi_VN&quot;, &quot;zh_CN&quot;, &quot;https:\/\/vi-vn.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 3); return false;"
          title="Vietnamese">Tiếng Việt</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://es-la.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;es_LA&quot;, &quot;zh_CN&quot;, &quot;https:\/\/es-la.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 4); return false;"
          title="Spanish">Español</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://id-id.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;id_ID&quot;, &quot;zh_CN&quot;, &quot;https:\/\/id-id.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 5); return false;"
          title="Indonesian">Bahasa Indonesia</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://ko-kr.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;ko_KR&quot;, &quot;zh_CN&quot;, &quot;https:\/\/ko-kr.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 6); return false;"
          title="Korean">한국어</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://fr-fr.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;fr_FR&quot;, &quot;zh_CN&quot;, &quot;https:\/\/fr-fr.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 7); return false;"
          title="French (France)">Français (France)</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://de-de.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;de_DE&quot;, &quot;zh_CN&quot;, &quot;https:\/\/de-de.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 8); return false;"
          title="German">Deutsch</a>
      </li>
      <li>
        <a class="_sv4" dir="ltr" href="https://it-it.facebook.com/mobile/?ref=pf" onclick="require(&quot;IntlUtils&quot;).setCookieLocale(&quot;it_IT&quot;, &quot;zh_CN&quot;, &quot;https:\/\/it-it.facebook.com\/mobile\/?ref=pf&quot;, &quot;www_list_selector&quot;, 9); return false;"
          title="Italian">Italiano</a>
      </li>
      <li>
        <a role="button" class="_42ft _4jy0 _517i _517h _51sy" rel="dialog" ajaxify="/settings/language/language/?uri=https%3A%2F%2Fit-it.facebook.com%2Fmobile%2F%3Fref%3Dpf&amp;source=www_list_selector_more"
          href="#" title="更多语言">
          <i class="img sp_u3aosrf74-g sx_fe3bda"></i>
        </a>
      </li>
    </ul>
    <div class="mvl copyright">
      <div>
        <span> Panda © 2018</span>
      </div>
    </div>
  </div>
</div>
